<%- include("header")-%>
<br>
<div class="container">
    <div class="card-header">
      <h1>About</h1>
    </div>
    <div class="card-body">
      <h3 class="card-title">It is a basic money transfer web app.</h3>
      <p class="card-text">Github  :  @deeqakkk</p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
  <%- include("footer")-%>