

<div class="fixed-bottom" >
    <div class="alert alert-primary "style="margin-bottom: 0;text-align: center;" role="alert">
       Made with ♥ by Deepak Verma
      </div>
  
</div>

<script src="../index.js"></script>
</body>

</html>